body{
    color:#fff;
    background-color:#68cdd5;
    font-size:62.5%
}
.header img{
    margin:1em;
    height:3em;
}
.main{
    margin:5em 20% 10em 20%
}
.main img{
    display:block;
    margin:0 auto;
}
.main p{
    display:block;
    font-size:2em;
}
.footer{
    margin:0 20%;
}
.footer img{
    display:block;
    margin:0 auto;
    height:8em;
    max-width:8em;
}
.logo_left{
    position:relative;
    right:40%;
}
.logo_right{
    position:relative;
    left:40%;
    bottom:8em;
}