body {
  margin: 0;
  padding: 0;
  font-size: 62.5% !important;
  width: 100%;
}

header {
  padding-left: 5%;
  padding-right: 5%;
  height: 3rem;
  background: white;
  color: #1db176;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

header .media {
  margin: auto 0;
}

header .media img {
  cursor: pointer;
}

nav {
  color: white;
  background: #1db176;
  font-size: 0 !important;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
}

nav .navbar-brand img {
  height: 3rem;
  margin: auto 0;
  margin-top: 0.5rem;
}

nav .list-wrapper {
  overflow: hidden;
}

nav .list-wrapper input[type="checkbox"] {
  display: none;
  position: absolute;
  top: 1rem;
  right: 5%;
}

nav .list-wrapper .nav-btn-lab {
  display: inline-block;
  width: 3rem;
  height: 2rem;
  border-radius: 5px;
  border: 2px solid white;
  position: absolute;
  top: 0.66667rem;
  right: 5%;
}

nav .list-wrapper .nav-btn-lab .nav-bar {
  width: 2rem;
  height: 2px;
  background: white;
  margin-top: 0.4rem;
  margin-left: 0.5rem;
}

nav .list-wrapper .dropdown {
  list-style: none;
  display: inline-block;
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  height: 0;
  overflow: hidden;
}

nav .list-wrapper .dropdown li {
  list-style: none;
  font-size: 18px;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
  border-bottom: 3px solid transparent;
}

nav .list-wrapper .dropdown li:hover {
  border-bottom: 3px solid white;
}

nav .list-wrapper .dropdown li a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 0.5rem 0;
}

nav .list-wrapper .dropdown li a:hover {
  text-decoration: none;
  color: white;
}

nav .list-wrapper input[type="checkbox"]:checked ~ .dropdown {
  height: 11rem;
}

@media screen and (min-width: 769px) {
  nav {
    height: 4rem;
  }
  nav .nav-header {
    float: left;
  }
  nav .list-wrapper {
    height: 4rem;
  }
  nav .list-wrapper .nav-btn-lab {
    display: none;
  }
  nav .list-wrapper .dropdown {
    float: right;
    height: 4rem;
    width: 50%;
  }
  nav .list-wrapper .dropdown li {
    float: left;
    width: 25%;
    padding-top: 0.3rem;
    height: 3.5rem;
  }
  nav .list-wrapper .dropdown li a {
    padding: 1rem;
    height: 3.8rem;
  }
}

main {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3rem;
  width: 90%;
}

[class*='col-'] {
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.row::after,
.row::before {
  display: table;
  content: "";
  clear: both;
}

@media screen and (max-width: 768px) {
  .col-lg-4 {
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .col-lg-4 {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .col-md-4 {
    width: 33.3%;
  }
}

@media screen and (min-width: 1200px) {
  .col-lg-4 {
    width: 33.3%;
  }
}

@media screen and (max-width: 992px) {
  .col-md-4 {
    width: 100%;
  }
}

.direction {
  font-size: 14px;
  display: flex;
  border-bottom: 1px solid gray;
  line-height: 3rem;
}

.direction .all {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}

.direction .all span {
  width: 4rem;
  display: inline-block;
}

.direction .develop {
  color: black;
}

.direction .develop span {
  width: 6rem;
  display: inline-block;
  text-align: center;
}

.direction .develop span:hover {
  color: #1db176;
}
h1 {
  font-size: 16px;
  border-bottom: 1px solid gray;
  padding: 2rem 0;
  margin-left: 15px;
  box-sizing: border-box;
  margin-right: 15px;
}

.box {
  position: relative;
}

.box:hover .hover-home {
  visibility: visible;
}

.box table {
  font-size: 14px;
  border-collapse: collapse;
  color: gray;
}

.box table th h2 {
  font-size: 14px;
  padding-bottom: 0.5rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.5rem;
  text-align: left;
  color: black;
}

.box table th p {
  font-size: 14px;
  text-align: left;
  font-weight: normal;
}

.box table th img {
  width: 5rem;
  float: left;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.box table .tr1, .box table .tr3 {
  height: 2.5rem;
}

.box table .tr1 img {
  width: 0.9rem;
}

.box table .tr2 {
  color: black;
}

.box table .red {
  color: red;
}

.box .hover-home {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 3%;
  width: 94%;
  height: 100%;
  background-color: rgba(43, 42, 42, 0.5);
  color: white;
}

.box .hover-home h3 {
  font-size: 20px;
  text-align: center;
}

.box .hover-home p {
  font-size: 16px;
  text-align: left;
  padding: 1rem;
}

.spc {
  padding-top: 0;
}

footer {
  background: #1db176;
  color: white;
  font-size: 16px;
  width: 100%;
  position: relative;
}

footer a {
  text-decoration: none;
  color: white;
  display: inline-block;
  margin-right: 0.5rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid transparent;
}

footer a:hover {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
}

footer .remark {
  text-align: center !important;
  white-space: normal;
  font-size: 14px;
  margin-top: 1rem;
  padding-top: 0.7rem;
  padding-bottom: 1rem;
  border-top: 1px solid #04f08e;
  margin-bottom: 0;
}
