* {
  margin: 0;
  padding: 0;
  background-color: #f3f2f2;
}

html {
  font-size: 62.5%;
}

.container {
  width: 94%;
  margin: 0 auto;
}

header .header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  background-color: #34bede;
  width: 100%;
  padding: 0 3%;
  box-sizing: border-box;
}

header .header-row .header-left-back {
  background: #34bede;
  display: block;
  padding: 0.9rem;
  border-left: 0.4rem solid white;
  border-bottom: 0.4rem solid white;
  transform: rotate(45deg);
  cursor: pointer;
}

header .header-row .header-set {
  font-size: 16px;
  background-color: inherit;
  color: white;
}

header .header-row .header-right-help {
  display: block;
  padding: 2rem;
  background: url(../img/15.png) center no-repeat;
  background-size: 3.5rem;
}

.main-top-box {
  height: 25rem;
  display: flex;
  background: white;
  margin-top: 1rem;
}

.main-top-box .main-left-tittle {
  width: 10%;
  height: 100%;
  font-size: 18px;
  font-weight: 700;
  border-right: 1px solid #c2c1c1;
  background: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-top-box .top-right-box {
  width: 90%;
  height: 100%;
  background: inherit;
}

.main-top-box .top-right-box .top-right-upper {
  width: 100%;
  height: 80%;
  border-bottom: 1px solid #c2c1c1;
  background: inherit;
  overflow: auto;
}

.main-top-box .top-right-box .top-right-upper #list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: inherit;
}

.main-top-box .top-right-box .top-right-upper #list .civilian {
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: inherit;
  font-size: 16px;
  font-weight: 700;
  color: gray;
}

.main-top-box .top-right-box .top-right-upper #list .civilian span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #34bede;
  margin: 1rem 2rem;
}

.main-top-box .top-right-box .top-right-upper #list .killer {
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: inherit;
  font-size: 16px;
  font-weight: 700;
  color: gray;
}

.main-top-box .top-right-box .top-right-upper #list .killer span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #f8b445;
  margin: 1rem 2rem;
}

.main-top-box .top-right-box .top-right-lower {
  width: 100%;
  height: 20%;
  color: #34bede;
  font-size: 16px;
  background: inherit;
  outline: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.main-in-box {
  margin-top: 0.5rem;
  height: 14rem;
  font-size: 16px;
  font-weight: normal;
  background: white;
  padding-top: 0.7rem;
}

.main-in-box .top-row,
.main-in-box .bottom-row {
  height: 45%;
  margin: 0 1rem;
  box-sizing: border-box;
  background: inherit;
  border-bottom: 1px solid #c2c1c1;
}

.main-in-box input {
  height: 100%;
  border-bottom: 1px solid #c2c1c1;
  background: white;
  border: none;
  outline: none;
  height: 6rem;
}

.main-bottom-box {
  height: 12rem;
  background: white;
  margin-top: 0.5rem;
}

.main-bottom-box .bottom-upper-box {
  font-size: 16px;
  font-weight: 700;
  background: inherit;
  margin-left: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.main-bottom-box .bottom-upper-box .bottom-upper-people {
  height: 2rem;
  width: 3rem;
  color: #f8b445;
  border: none;
  outline: none;
  text-align: center;
  font-size: 900;
  margin: 0 1rem;
}

.main-bottom-box .bottom-lower-box {
  background: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.main-bottom-box .bottom-lower-box .bottom-lower-plus {
  width: 2rem;
  height: 2rem;
  background: url(../img/17.png) center no-repeat;
  background-size: cover;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1rem;
}

.main-bottom-box .bottom-lower-box .bottom-lower-slider {
  width: 100%;
  height: 0.2rem;
  background-color: #f8b445;
  border: none;
  outline: none;
}

.main-bottom-box .bottom-lower-box input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.main-bottom-box .bottom-lower-box input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 4rem;
  height: 2.5rem;
  transform: translateY(-50%);
  background: url(../img/14.png) center no-repeat scroll;
  background-size: cover;
  cursor: pointer;
}

.main-bottom-box .bottom-lower-box input[type="range"]::-webkit-slider-runnable-track {
  height: 0.3rem;
  border-radius: .02rem;
  background-color: #f8b445;
}

.main-bottom-box .bottom-lower-box .bottom-lower-minus {
  width: 2rem;
  height: 2rem;
  background: url(../img/16.png) center no-repeat;
  background-size: cover;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1rem;
}

.footer-bottom-start {
  margin: 1rem 0;
  height: 5rem;
  width: 100%;
  background: #f8b445;
  font-size: 18px;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}
