body{
    margin:0;
    padding:0;
    font-size:62.5%;
}
a{
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}
.header{
    height:4rem;
    width:100%;
    background-color:#1d7ad9;
    color:#fff;
    line-height:4rem;
}
.login{
    float:right;
}
.login>a{
    text-decoration:none;
    color:white;
    display:inline-block;
    height:4rem;
    padding:0 0.8rem;
}
@media screen and (max-width:768px){
    .login{
        margin-left:-3rem;
    }
}
.login>a:hover{
    text-decoration:none;
    padding:0 2rem;
    color:#1d7ad9;
    background-color:white;
}
 ul.navbar-nav>li{
    margin-top:1.5rem;
}
ul.navbar-nav{
    margin-right:-3.5rem;
    height:8rem;
}
ul.navbar-nav>li>a{
    display:inline-block;
    height:5rem;
    margin-top:auto;
    margin-bottom:auto;
    padding:1.5rem 2rem;
    margin:0 2rem;
    color:black !important;
    box-shadow:0 0 1px lightgray;
    font-size:18px;
}
.navbar-nav a.active{
    background-color:#1d7ad9;
    color:white !important;
}
ul.navbar-nav>li>a:hover{
    background-color:#1d7ad9 !important;
    color:white !important;
}
@media screen and (max-width:767px){
    ul.navbar-nav>li>a{
      display:flex;
      justify-content:center;
    }
    ul.navbar-nav{
        height:26rem;
        
    }
}
.step-box{
    padding:50px 0;
    text-align:right;
}
@media screen and (max-width:768px){
    .step-box{
        padding:15px 0;
    }
}
.step{
    position:relative;
    display:inline-block;
    width:156px;
    height:66px;
    margin-right:-4px;
    padding:0;
}
.step-bar{
    position:absolute;
    top:9px;
    width:100%;
    height:6px;

}
.step-number{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    width:24px;
    height:24px;
    border-radius:50%;
    line-height:24px;
    text-align:center;
    font-size:18px;
}
.step-explain{
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    white-space:nowrap;
    font-size:20px;
}
.step-number{
    color:#fff;
    background-color:lightgray;
}
.step-bar{
    background-color:lightgray;
}
.step-box>.spc>.step-bar,.step-box>.spc>.step-number{
    background-color:#ff7f02;
}
.step-explain{
    color:black;
    font-weight:bold;
}
.step-box>.spc>.step-explain{
    color:#ff7f02;
}
@media screen and (max-width:768px){
    .step-box{
        text-align:center;
        width:100%;
    }
    .step{
        width:25%;
    }
    .step-explain{
        position:absolute;
        bottom:0;
        left:50%;
        transform:translateX(-50%);
        text-align:left;
        font-size:14px;
    }
}
div.box-type{
    position:relative;
}
.main-contain{
    font-size:16px;
}
label{
    margin:0;
}
.col-user,.col-user-a,.col-user-a-s,.col-user-b,.col-user-b-s{
    float:left;
}
input[type="text"]{
    width:5rem;
    height:2rem;
}
.preface{
    height:42px;
    line-height:42px;
    font-size:18px;
    font-weight:bold;
}
.vertical{
    display:inline-block;
    background-color:#1d7ad9;
    width:3px;
    height:18px;
    position:relative;
    top:50%;
    transform:translateY(-100%);
    margin-right:5px;
}
.tittle{
    font-size:16px;
    color:#1d7ad9;
    font-weight:bold;
}
.tittle::before{
    content:"";
    display:inline-block;
    width:20px;
    height:20px;
    vertical-align:middle;
}
.box-type .tittle::before{
    background:url(7.png) left center no-repeat;
    background-size:16px 16px;
}
.box-size .tittle::before{
    background:url(10.png) left center no-repeat;
    background-size:16px 15px;
}
.box-texture .tittle::before{
    background:url(8.png) left center no-repeat;
    background-size:16px 16px;
}
.box-type,.box-texture{
    height:7rem;
    line-height:7rem;
    
}
.col-user{
    margin-right:6rem;
    margin-left:2rem;
}
.select-box{
    float:right;
    margin-right:1.6rem;
}
.select-box select{
    width:12rem;
    height:4rem;
    color:gray;
    font-size:14px;
    background:url(9.png) right 5px center no-repeat;
    background-size:24px 28px;
    line-height:normal;
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    padding-left:1rem;
}
.box-size .select-box{
    margin-top:-7rem;
}
input[type="radio"]+label:before{
    content:"";
    display:inline-block;
    width:2rem;
    height:2rem;
    border-radius:50%;
    margin-left:-20px;
    border:1px solid gray;
    background-color:white;
    transform:translateY(20%);
}
input[type="radio"]:checked+label:before{
    border:7px solid #1d7ad9;
}
.box-size{
    height:14rem;
    line-height:7rem;
}
.col-user-a,.col-user-a-s,.col-user-b,.col-user-b-s{
    margin-right:6rem;
    margin-left:2rem;
}
.row-control,.col-user-a,.col-user-b{
    margin-left:2rem;
}
.btn{
    width:12rem;
    height:3rem;
    background-color:#cd494c;
    position:absolute;
    left:50%;
    top:15rem;
    margin-left:-6rem;
}
.btn>a{
    text-decoration:none;
    color:white;
    outline:none;
}
.btn>a:hover{
    text-decoration:none;
    outline:none;
    color:white;
}
.tittle{
    background-color:rgb(241, 237, 237);
    height:5rem;
    line-height:5rem;
}
.footer{
    font-size:14px;
    color:gray;
    position:relative;
    top:35rem;
    left:0;
    background-color:rgb(238, 236, 236);
    width:100%;
    padding:6rem;
}
.right{
    display:flex;
    justify-content:center;
}
.middle a{
    display:inline-block;
    margin-bottom:2rem;
    margin-right:2rem;
    text-decoration:none;
    color:gray;
    margin-left:-10px;
}
.middle a:hover{
    text-decoration:none;
    color:lightgreen;
}
.footer-extra{
    font-size:14px;
    background-color:#1d7ad9;
    white-space:normal;
    position:relative;
    left:0;
    bottom:-32rem;
    text-align:center;
    width:100%;
    color:white;
}
@media screen and (max-width:768px){
    .col-user,.col-user-a,.col-user-a-s,.col-user-b,.col-user-b-s{
        width:100%;
    }
    .footer{
        padding:3rem;
    }
    .footer-extra{
        position:relative;
        left:0;
        bottom:-34rem;
        white-space:normal;
        background-color:#1d7ad9;
    }
    .box-type .select-box{
        margin-top:-22rem;
    }
    .box-size .select-box{
        margin-top:-56rem;
    }
    .box-texture .select-box{
        margin-top:-37rem;
    }
    .left,.middle{
        width:fit-content;
        margin-left:auto;
        margin-right:auto;
    }
}
@media screen and (min-width:768px) and (max-width:992px){
    .col-user,.col-user-a,.col-user-a-s,.col-user-b,.col-user-b-s{
        margin-left:2rem;
        margin-right:2rem;
    }
}
@media screen and (min-width:375px) and (max-width:767px){
    .right{
        display:flex;
        justify-content:center;
    }
}