@blue:#34bede;
@lightblue:#bae9f4;
@yellow:#f8b445;
@lightyellow:#f3c881;
@navy:#82af9b;
@opacity:rgba(52,190,222,0.7);
@height:1rem;
@px:1px;
@white:white;
@vw:1vw;
body{
    margin:0;
    padding:0;
    font-size:62.5%;
    background-color:@blue;
    overflow-X:hidden;
}
header{
    div{
        height:@height*3;
        width:100vw;
        line-height:@height*3;
        color:@white;
        background-color:@blue;
        position:fixed;
        top:0;
        left:0; 
        margin-right:@height;
        display:flex;
        justify-content:space-between;
        font-size:@height*1.2;
        letter-spacing:@px*3;
        img{
            width:@height*2;
            height:@height*2;
            display:inline-block;
            margin-left:@height;
            margin-right:@height;
            margin-top:@height/2;
        }
    }
}
.vote{
    width:100%;
    height:@height*3;
    background-color:@lightblue;
    font-size:@height;
    line-height:@height*3;
    margin-top:@height*3;
    span{
        margin-left:@height*3;
        display:inline-block;
    }
    img{
        float:right;
        width:@height*2;
        margin-right:@height;
        margin-top:@height/2;
    }
    audio{
        position:absolute;
        top:@height*3;
        right:-@height*15.5;
        opacity:0;
    }
}
.triangle{
    width:0;
    height:0;
    border-top:@height solid @lightblue;
    border-bottom:@height/2 solid transparent;
    border-left:@height/2 solid transparent;
    border-right:@height/2 solid transparent;
    margin-left:@height*4;
}
.click{
    font-size:@height*0.8;
    margin-left:@height*4.5;
    margin-top:0;
    margin-bottom:0;
    color:@white;
    letter-spacing:@px/2;
}
.box{
    width:@vw*24;
    height:@vw*24;
    border:@px*2 solid @white;
    text-align:center;
    &:hover .lower{
        background:greenyellow;
    }
    .upper{
        width:@vw*24;
        height:@vw*18;
        line-height:@vw*18;
        font-size:@height*1.2;
        background:@lightyellow;
    }
    .lower{
        width:@vw*24;
        height:@vw*6;
        font-size:@height*0.8;
        background:@navy;
        line-height:@vw*6;
    }
}
.add{
    display:flex;
    justify-content:flex-start;
    margin-top:@vw*4.5;
    visibility:hidden;
    .img1{
        width:@vw*6;
        height:@vw*6;
        background:url(1.png) no-repeat;
        background-size:@vw*6 @vw*6;
        background-position:0 0;
        &:hover{
            -webkit-transform:rotate(360deg);
            transform:rotate(360deg);
            -webkit-animation:rotation 2s linear infinite;
            animation:rotation 2s linear infinite;
        }
        @keyframes rotation {
            from {
                -webkit-transform: rotate(0deg);
            }
            to {
                -webkit-transform: rotate(360deg);
            }
        }
    }
    .img2{
        width:@vw*6;
        height:@vw*6;
        background:url(2.png) no-repeat;
        background-size:@vw*6 @vw*6;
        &:hover{
            -webkit-animation:rotation 2s linear infinite;
            animation:rotation 2s linear infinite;
        }
        @keyframes rotation {
            from{
                -webkit-transform:rotate(0deg);
            }
            to{
                -webkit-transform:rotate(360deg);
            }
        }
    }
    .img3{
        width:@vw*6;
        height:@vw*6;
        background:url(3.png) no-repeat;
        background-size:@vw*6 @vw*6;
        &:hover{
            -webkit-animation:rotation 2s linear infinite;
            animation:rotation 2s linear infinite;
        }
        @keyframes rotation{
            from{
                -webkit-transform:rotate(0deg);
            }
            to{
                -webkit-transform:rotate(360deg);
            }
        }
    }
    .img4{
        width:@vw*6;
        height:@vw*6;
        background:url(4.png) no-repeat;
        background-size:@vw*6 @vw*6;
        display:inline-block;
        &:hover{
            -webkit-animation:rotation 2s linear infinite;
            animation:rotation 2s linear infinite;
        }
        @keyframes rotation{
            from{
                -webkit-transform:rotate(0deg);
            }
             to{
               -webkit-transform:rotate(360deg);
            }
        }
    }
}
.wrap:hover .add{
    visibility:visible;
}
.row{
    display:flex;
    justify-content:space-around;
    margin-top:@vw*6;
    margin-bottom:@vw*6;
}
.spc{
    margin-bottom:@height*7;
}
.death{
    width:100%;
    height:@height*5;
    background-color:@opacity;
    position:fixed;
    bottom:0;
    left:0;
    display:flex;
    justify-content:center;
    button{
        width:@height*16;
        height:@height*3;
        background:@yellow;
        margin-top:@height;
        font-size:@height*1.2;
        a{
            color:black;
            text-decoration:none;
            &:hover{
                color:black;
                text-decoration:none;
            }
        }
    }
}
@media screen and (min-width:768px){
    .box{
        width:@vw*16;
        height:@vw*16;
        border:4px solid @white;
        .upper{
            width:@vw*16;
            height:@vw*12;
            line-height:@vw*12;
        }
        .lower{
            width:@vw*16;
            height:@vw*4;
            line-height:@vw*4;
        }
    }
    .add{
        .img1,.img2,.img3,.img4{
            width:@vw*4;
            height:@vw*4;
            background-size:@vw*4 @vw*4;
        }
    }
}