body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}
header {
  width: 100vw;
  height: 12vw;
  background: #34bede;
  font-size: 5.2vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  line-height: 12vw;
  color: white;
  border-bottom: 1px solid white;
}
header img {
  width: 8vw;
  height: 8vw;
  display: inline-block;
  margin: 2vw 1rem;
}
main {
  margin-top: 12vw;
  background: #34bede;
  padding: 0 8vw;
  margin-bottom: 15vw;
}
.success {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 30vw;
  height: 12vw;
  margin-top: 5px;
}
.game {
  color: #f8b445;
  font-size: 5.2vw;
}
.total {
  font-size: 4.8vw;
  color: white;
}
.total p {
  margin: 0.5rem 0;
}
.total span {
  display: inline-block;
  margin-right: 2rem;
}
.result {
  background: white;
  color: black;
  margin: 0 -8vw;
  padding: 2rem 8vw;
}
.result h1 {
  font-size: 4.8vw;
}
.result p {
  font-size: 3.8vw;
  color: gray;
  margin: 1rem 0;
}
footer {
  height: 12vw;
  width: 100vw;
  background: rgba(52, 190, 222, 0.7);
  position: fixed;
  left: 0;
  bottom: 0;
}
footer button {
  width: 40vw;
  height: 10vw;
  margin: 1vw 5vw;
  font-size: 5.2vw;
  color: white;
  border-radius: 15px;
}
footer button a {
  text-decoration: none;
  color: white;
}
footer button a:hover {
  text-decoration: none;
  color: white;
}
footer .red {
  float: left;
  background: #f37072;
}
footer .yellow {
  float: right;
  background: #f8b445;
}
