@blue:#34bede;
@yellow:#f8b445;
@gray:rgb(236, 233, 233);
@white:white;
@px:1px;
@height:1rem;
@vw:1vw;
@vh:1vh;
body{
    margin:0;
    padding:0;
    font-size:62.5%;
    background:@gray;
}
header{
    width:100%;
    height:@vh*12;
    background:@blue;
    .for{
        padding-top:@vh*2;
        .line{
            background:@white;
            width:@vh*6;
            height:@px*3;
            margin:@vh*1.5;
            margin-left:@vh*3;
        }
    }
}
main{
    background:@gray;
    .right{
        font-size:@vw*4;
        width:90vw;
        height:@vh*15;
        text-align:center;
        color:gray;
        border:@px solid lightgray;
        background:@white;
        line-height:@vh*15;
        margin-top:@vh*5;
        margin-left:@vw*5;
        span{
            display:inline-block;
            margin:0;
        }
        .tri1{
            float:right;
            width:0;
            height:0;
            border-top:5vh solid transparent;
            border-left:3vw solid rgb(189, 185, 185);
            border-bottom:5vh solid transparent;
            border-right:1vw solid transparent;
            margin-top:@vh*3;
        }
        .tri2{
            float:right;
            width:0;
            height:0;
            border-top:5vh solid transparent;
            border-left:3vw solid @white;
            border-bottom:5vh solid transparent;
            border-right:1vw solid transparent;
            margin-right:-3.5vw;
            margin-top:@vh*3;
        }
    }
}
.game{
    width:@vw*90;
    background:@white;
    margin-left:@vw*5;
    h1{
        font-size:@vw*4;
        font-weight:normal;
        color:@yellow;
        border-bottom:@px solid @yellow;
        text-align:center;
        padding-top:@vh*3;
        padding-bottom:@vh*3;
    }
    h2{
        font-size:@vw*4;
        width:@vw*80;
        height:@vh*14;
        line-height:@vh*14;
        margin:@vh*5 @vw*5;
        margin-left:@vw*5;
        font-weight:normal;
        color:@white;
        background:@blue;
        text-align:center;
        padding-top:@vh*4;
        padding-bottom:@vh*4;
    }
    .left{
        display:inline-block;
        font-size:@vw*4;
        width:@vw*80;
        height:@vh*14;
        line-height:@vh*14;
        margin:@vh*5 @vw*5;
        margin-left:@vw*5;
        margin-right:0;
        font-weight:normal;
        color:@white;
        background:@blue;
        text-align:center;
        padding-top:@vh*4;
        padding-bottom:@vh*4;
        a{
            color:@white;
            text-decoration:none;
            &:hover{
                color:@white; 
                text-decoration:none;
            }
        }
    }
    p{
        font-size:@vw*3.8;
        text-align:center;
        color:gray;
        margin:0;
        padding:0;
    }
}
.circle{
    display:flex;
    justify-content:center;
     div{
         width:10px;
         height:10px;
         border-radius:50%;
         background:gray;
         margin:@vh*4 5px;
         &:hover{
             background:@blue;
         }
     }
}
.tri{
    width:0;
    height:0;
    border-left:@vw*2 solid @yellow;
    border-right:@vw*2 solid transparent;
    border-top:@vh*5 solid transparent;
    border-bottom:@vh*5 solid transparent;
    float:right;
    margin-left:@vw;
}
.add{
    display:flex;
    align-items:center;
}
@media screen and (max-width:768px) and (min-width:425px){
    .right{
        height:@vh*9;
        line-height:@vh*9;
    }
    .game{
        h2{
          height:@vh*9;
          line-height:@vh*9;
        }
        .left{
            height:@vh*9;
            line-height:@vh*9;
        }
    }
}
@media screen and (max-width:425px){
    p,h1,h2,span{
        font-size:5vw !important;
    }
     .right{
         height:@vh*4;
         line-height:@vh*4;
         font-size:@vw*5;
     }
     .game{
         h2{
             height:@vh*4;
             line-height:@vh*4;
         }
         .left{
            height:@vh*4;
            line-height:@vh*4;
         }
     }
}