body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  background: #ece9e9;
}
header {
  width: 100%;
  height: 4rem;
  background: #34bede;
}
header .for {
  padding-top: 10px;
}
header .for .line {
  background: white;
  width: 2rem;
  height: 3px;
  margin: 0.5rem;
  margin-left: 0.5rem;
}
main {
  background: #ece9e9;
  width: 100%;
  margin-bottom: 3rem;
}
main .right {
  font-size: 2rem;
  width: 90%;
  height: 7rem;
  text-align: center;
  color: gray;
  border: 1px solid lightgray;
  background: white;
  line-height: 7rem;
  margin-top: 2rem;
  margin-left: 5%;
}
main .right span {
  display: inline-block;
  margin: 0;
}
main .right .tri1 {
  float: right;
  width: 0;
  height: 0;
  border-top: 2rem solid transparent;
  border-left: 1.5rem solid #d8d7d7;
  border-bottom: 2rem solid transparent;
  border-right: 5px solid transparent;
  margin-top: 2rem;
}
main .right .tri2 {
  float: right;
  width: 0;
  height: 0;
  border-top: 2rem solid transparent;
  border-left: 1.5rem solid white;
  border-bottom: 2rem solid transparent;
  border-right: 5px solid transparent;
  margin-right: -1.3rem;
  margin-top: 2rem;
}
.game {
  width: 90%;
  background: white;
  margin-left: 5%;
}
.game h1 {
  font-size: 2rem;
  font-weight: normal;
  color: #f8b445;
  border-bottom: 1px solid #f8b445;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.game h2 {
  font-size: 1.8rem;
  width: 90%;
  height: 7rem;
  line-height: 7rem;
  margin: 2rem;
  margin-left: 5%;
  font-weight: normal;
  color: white;
  background: #34bede;
  text-align: center;
}
.game .left {
  display: inline-block;
  font-size: 1.8rem;
  width: 90%;
  height: 7rem;
  line-height: 7rem;
  margin: 1rem;
  margin-left: 5%;
  margin-right: 0;
  font-weight: normal;
  color: white;
  background: #34bede;
  text-align: center;
}
.game .left a {
  color: white;
  text-decoration: none;
}
.game .left a:hover {
  color: white;
  text-decoration: none;
}
.game p {
  font-size: 1.4rem;
  text-align: center;
  color: gray;
  margin: 0;
  padding: 0;
  height: 3rem;
  line-height: 3rem;
}
.circle {
  display: flex;
  justify-content: center;
}
.circle div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: gray;
  margin: 0.5rem 5px;
}
.circle div:hover {
  background: #34bede;
}
.tri {
  width: 0;
  height: 0;
  border-left: 1.5rem solid #f8b445;
  border-right: 5px solid transparent;
  border-top: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  float: right;
  margin-left: 1vw;
}
.add {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .right {
    height: 4rem !important;
    line-height: 4rem !important;
    padding: 0;
  }
  .right .last {
    font-size: 1.4rem;
  }
  .right .tri1 {
    border-top: 1.5rem solid transparent !important;
    border-left: 1.2rem solid #d8d7d7 !important;
    border-bottom: 1.5rem solid transparent !important;
    border-right: 5px solid transparent !important;
    margin-top: 0.65rem !important;
  }
  .right .tri2 {
    border-top: 1.5rem solid transparent !important;
    border-left: 1.2rem solid white !important;
    border-bottom: 1.5rem solid transparent !important;
    border-right: 5px solid transparent !important;
    margin-right: -1.2rem !important;
    margin-top: 0.65rem !important;
  }
  .game h1 {
    font-size: 1.4rem;
    height: 4rem;
    line-height: 4rem;
    padding: 0;
  }
  .game h2 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.2rem;
    height: 4rem;
    line-height: 4rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .game .left {
    width: 80%;
    margin-left: 10%;
    margin-right: 0;
    font-size: 1.2rem;
    height: 4rem;
    line-height: 4rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .game p {
    font-size: 1rem;
    height: 2rem;
    line-height: 2rem;
    padding: 0;
    margin: 0;
  }
  .tri {
    border-left: 1.2rem solid #f8b445 !important;
    border-right: 5px solid transparent !important;
    border-top: 1.7rem solid transparent !important;
    border-bottom: 1.7rem solid transparent !important;
  }
}
