body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  background: #ece9e9;
}
header {
  width: 100%;
  height: 12vh;
  background: #34bede;
}
header .for {
  padding-top: 2vh;
}
header .for .line {
  background: white;
  width: 6vh;
  height: 3px;
  margin: 1.5vh;
  margin-left: 3vh;
}
main {
  background: #ece9e9;
}
main .right {
  font-size: 4vw;
  width: 90vw;
  height: 15vh;
  text-align: center;
  color: gray;
  border: 1px solid lightgray;
  background: white;
  line-height: 15vh;
  margin-top: 5vh;
  margin-left: 5vw;
}
main .right span {
  display: inline-block;
  margin: 0;
}
main .right .tri1 {
  float: right;
  width: 0;
  height: 0;
  border-top: 5vh solid transparent;
  border-left: 3vw solid #bdb9b9;
  border-bottom: 5vh solid transparent;
  border-right: 1vw solid transparent;
  margin-top: 3vh;
}
main .right .tri2 {
  float: right;
  width: 0;
  height: 0;
  border-top: 5vh solid transparent;
  border-left: 3vw solid white;
  border-bottom: 5vh solid transparent;
  border-right: 1vw solid transparent;
  margin-right: -3.5vw;
  margin-top: 3vh;
}
.game {
  width: 90vw;
  background: white;
  margin-left: 5vw;
}
.game h1 {
  font-size: 4vw;
  font-weight: normal;
  color: #f8b445;
  border-bottom: 1px solid #f8b445;
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
}
.game h2 {
  font-size: 4vw;
  width: 80vw;
  height: 14vh;
  line-height: 14vh;
  margin: 5vh 5vw;
  margin-left: 5vw;
  font-weight: normal;
  color: white;
  background: #34bede;
  text-align: center;
  padding-top: 4vh;
  padding-bottom: 4vh;
}
.game .left {
  display: inline-block;
  font-size: 4vw;
  width: 80vw;
  height: 14vh;
  line-height: 14vh;
  margin: 5vh 5vw;
  margin-left: 5vw;
  margin-right: 0;
  font-weight: normal;
  color: white;
  background: #34bede;
  text-align: center;
  padding-top: 4vh;
  padding-bottom: 4vh;
}
.game .left a {
  color: white;
  text-decoration: none;
}
.game .left a:hover {
  color: white;
  text-decoration: none;
}
.game p {
  font-size: 3.8vw;
  text-align: center;
  color: gray;
  margin: 0;
  padding: 0;
}
.circle {
  display: flex;
  justify-content: center;
}
.circle div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: gray;
  margin: 4vh 5px;
}
.circle div:hover {
  background: #34bede;
}
.tri {
  width: 0;
  height: 0;
  border-left: 2vw solid #f8b445;
  border-right: 2vw solid transparent;
  border-top: 5vh solid transparent;
  border-bottom: 5vh solid transparent;
  float: right;
  margin-left: 1vw;
}
.add {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) and (min-width: 425px) {
  .right {
    height: 9vh;
    line-height: 9vh;
  }
  .game h2 {
    height: 9vh;
    line-height: 9vh;
  }
  .game .left {
    height: 9vh;
    line-height: 9vh;
  }
}
@media screen and (max-width: 425px) {
  p,
  h1,
  h2,
  span {
    font-size: 5vw !important;
  }
  .right {
    height: 4vh;
    line-height: 4vh;
    font-size: 5vw;
  }
  .game h2 {
    height: 4vh;
    line-height: 4vh;
  }
  .game .left {
    height: 4vh;
    line-height: 4vh;
  }
}
